// Breakpoints comunes
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


.responsive-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @media (max-width: $breakpoint-desktop) {
        
        padding: 15px;
    }

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        padding: 10px;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 5px;
        
        align-items: center; 
    }
}


.responsive-item {
    flex: 1; 

    @media (max-width: $breakpoint-tablet) {
        width: 100%; 
        margin-bottom: 10px; 
    }
}

